@media (min-width: 1400px) {
  .topfive_team .gold {
    color: gold;
    font-weight: 900;
    font-size: 15px;
  }
  .topfive_team .silver {
    color: silver;
    font-weight: 900;
    font-size: 15px;
  }
  .topfive_team .bronze {
    color: #cd7f32;
    font-weight: 900;
    font-size: 15px;
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .content .sidebar_l {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 1250px;
  }
  .content .main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 500px;
  }
  .content .sidebar_r {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 100%;
  }
  .content-settings {
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  nav .menu li a {
    font-size: 20px;
    padding-left: 15px;
  }
  .topfive .gold {
    color: gold;
    font-weight: 900;
    font-size: 18px;
  }
  .topfive .silver {
    color: silver;
    font-weight: 900;
    font-size: 18px;
  }
  .topfive .bronze {
    color: #cd7f32;
    font-weight: 900;
    font-size: 18px;
  }
  .topfive_subtitle {
    font-size: 20px;
    margin: 20px 20px 40px 30px;
  }
  .topfive_team {
    margin-left: -20px;
  }
  .topfive_team p {
    font-size: 18px;
    line-height: 34px;
  }
  .topfive_team p span {
    font-size: 18px;
  }
  .topfive_descr {
    font-size: 18px;
  }
  .mainteam_subtitle {
    font-size: 20px;
  }
  .mainteam_time {
    font-weight: 700;
    font-size: 20px;
  }
  .mainteam_anarchy {
    font-size: 22px;
    font-weight: 700;
  }
  .mainteam table {
    margin: 0 auto;
    margin-right: 80px;
  }
  .mainteam table th {
    padding: 0 10px 0 10px;
  }
  .mainteam table th span {
    padding-left: 20px;
    font-size: 18px;
  }
  .mainteam table a {
    font-size: 18px;
    padding-left: 10px;
  }
  .academyteam_subtitle {
    font-size: 20px;
  }
  .academyteam_time {
    font-weight: 700;
    font-size: 20px;
  }
  .academyteam_anarchy {
    font-size: 22px;
    font-weight: 700;
  }
  .academyteam table {
    margin: 0 auto;
    margin-right: 80px;
  }
  .academyteam table th {
    padding: 0 10px 0 10px;
  }
  .academyteam table th span {
    padding-left: 20px;
    font-size: 18px;
  }
  .academyteam table a {
    font-size: 18px;
    padding-left: 10px;
  }
  .warnews_subtitle {
    font-size: 20px;
  }
  .warnews_results .cw {
    text-align: center;
    font-size: 18px;
    padding: 2px 0px 2px 15px;
    margin: 15px 20px;
  }
  .title {
    font-size: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .content .sidebar_l {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 1250px;
  }
  .content .main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 500px;
  }
  .content .sidebar_r {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 1450px;
  }
  nav .menu li a {
    font-size: 20px;
    padding-left: 15px;
  }
  .title {
    font-size: 20px;
  }
  .topfive .gold {
    color: gold;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive .silver {
    color: silver;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive .bronze {
    color: #cd7f32;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive_subtitle {
    font-size: 18px;
    margin: 20px 20px 2s0px 0;
  }
  .topfive_team p {
    margin-left: 90px;
    font-size: 14px;
    line-height: 26px;
  }
  .topfive_team p span {
    font-size: 14px;
  }
  .topfive_descr {
    margin-right: 20px;
    font-size: 14px;
  }
  .warnews_subtitle {
    font-size: 18px;
  }
  .warnews_results .cw {
    text-align: center;
    font-size: 16px;
    padding: 3px 0px 3px 0px;
    margin: 15px 20px;
  }
  .mainteam_subtitle {
    font-size: 18px;
  }
  .mainteam_time {
    font-weight: 700;
    font-size: 18px;
  }
  .mainteam_anarchy {
    font-size: 20px;
    font-weight: 700;
  }
  .mainteam table {
    margin: 0 auto;
    margin-right: 60px;
  }
  .mainteam table th {
    padding: 0 10px 0 10px;
    font-size: 14px;
  }
  .mainteam table th span {
    padding-left: 30px;
    font-size: 14px;
  }
  .mainteam table a {
    font-size: 14px;
    padding-left: 10px;
  }
  .academyteam_subtitle {
    font-size: 18px;
  }
  .academyteam_time {
    font-weight: 700;
    font-size: 18px;
  }
  .academyteam_anarchy {
    font-size: 20px;
    font-weight: 700;
  }
  .academyteam table {
    margin: 0 auto;
    margin-right: 60px;
  }
  .academyteam table th {
    padding: 0 10px 0 10px;
    font-size: 14px;
  }
  .academyteam table th span {
    padding-left: 30px;
    font-size: 14px;
  }
  .academyteam table a {
    font-size: 14px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content .sidebar_l {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 1250px;
  }
  .content .main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 500px;
  }
  .content .sidebar_r {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 1450px;
  }
  nav .menu li a {
    font-size: 14px;
    padding-left: 15px;
  }
  .topfive .gold {
    color: gold;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive .silver {
    color: silver;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive .bronze {
    color: #cd7f32;
    font-weight: 900;
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .content .sidebar_l {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
    margin: 15px 0 15px 0;
  }
  .content .main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 300px;
  }
  .content .sidebar_r {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 100%;
    margin-bottom: 20px;
  }
  .content-settings {
    margin: 0px;
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(38, 61, 105, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  ul.menu li a {
    padding-top: 30px;
    margin-bottom: 200px;
    font-size: 18px;
    color: #fff;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 8%;
    top: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 18px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-bottom: 3px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .title {
    font-size: 16px;
  }
  .topfive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .topfive .gold {
    color: gold;
    font-weight: 900;
    font-size: 10px;
  }
  .topfive .silver {
    color: silver;
    font-weight: 900;
    font-size: 10px;
  }
  .topfive .bronze {
    color: #cd7f32;
    font-weight: 900;
    font-size: 10px;
  }
  .topfive_subtitle {
    font-size: 14px;
  }
  .topfive_team hr {
    margin-top: 20px;
  }
  .topfive_team p {
    font-size: 10px;
    line-height: 26px;
    margin: 0;
  }
  .topfive_team p span {
    font-size: 10px;
  }
  .topfive_descr {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .warnews_subtitle {
    font-size: 14px;
  }
  .warnews_results .cw {
    text-align: center;
    font-size: 12px;
    padding: 2px 0px 2px 0px;
    margin: 15px 20px;
  }
  .mainteam_subtitle {
    font-size: 14px;
  }
  .mainteam_time {
    font-weight: 700;
    font-size: 12px;
  }
  .mainteam_anarchy {
    font-size: 16px;
    font-weight: 700;
  }
  .mainteam table {
    margin: 0 auto;
    margin-left: 70px;
  }
  .mainteam table th {
    padding: 0 10px 0 10px;
  }
  .mainteam table th span {
    padding-left: 20px;
    font-size: 16px;
  }
  .mainteam table a {
    font-size: 14px;
    padding-left: 10px;
  }
  .academyteam_subtitle {
    font-size: 14px;
  }
  .academyteam_time {
    font-weight: 700;
    font-size: 12px;
  }
  .academyteam_anarchy {
    font-size: 16px;
    font-weight: 700;
  }
  .academyteam table {
    margin: 0 auto;
    margin-left: 70px;
  }
  .academyteam table th {
    padding: 0 10px 0 10px;
  }
  .academyteam table th span {
    padding-left: 20px;
    font-size: 16px;
  }
  .academyteam table a {
    font-size: 14px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .content .sidebar_l {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
    margin: 15px 0 15px 0;
  }
  .content .main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 300px;
  }
  .content .sidebar_r {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    height: 100%;
    margin-bottom: 20px;
  }
  .content-settings {
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(38, 61, 105, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  ul.menu li a {
    padding-top: 30px;
    margin-bottom: 200px;
    font-size: 18px;
    color: #fff;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 3%;
    top: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-bottom: 3px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .title {
    font-size: 18px;
    font-weight: 900;
  }
  .topfive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topfive .gold {
    color: gold;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive .silver {
    color: silver;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive .bronze {
    color: #cd7f32;
    font-weight: 900;
    font-size: 14px;
  }
  .topfive_subtitle {
    font-size: 16px;
    font-weight: 900;
  }
  .topfive_team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .topfive_team hr {
    margin-top: 20px;
  }
  .topfive_team p {
    font-size: 12px;
    line-height: 26px;
    margin: 0;
    margin-left: 40px;
    font-weight: 900;
  }
  .topfive_team p span {
    font-size: 14px;
    font-weight: 900;
  }
  .topfive_descr {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .warnews_subtitle {
    font-size: 16px;
  }
  .warnews_results .cw {
    text-align: center;
    font-size: 14px;
    padding: 2px 0px 2px 0px;
    margin: 15px 20px;
  }
  .mainteam {
    margin-right: 20px;
  }
  .mainteam_subtitle {
    font-size: 16px;
  }
  .mainteam_time {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
  }
  .mainteam_anarchy {
    font-size: 18px;
    font-weight: 700;
  }
  .mainteam table {
    margin: 0 auto;
  }
  .mainteam table th {
    padding: 0 10px 0 10px;
  }
  .mainteam table th span {
    padding-left: 20px;
    font-size: 14px;
  }
  .mainteam table a {
    font-size: 14px;
    padding-left: 10px;
  }
  .mainteam hr {
    margin-top: 25px;
  }
  .academyteam {
    margin-right: 20px;
  }
  .academyteam_subtitle {
    font-size: 16px;
  }
  .academyteam_time {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .academyteam_anarchy {
    font-size: 18px;
    font-weight: 700;
  }
  .academyteam table {
    margin: 0 auto;
  }
  .academyteam table th {
    padding: 0 10px 0 10px;
  }
  .academyteam table th span {
    padding-left: 20px;
    font-size: 14px;
  }
  .academyteam table a {
    font-size: 14px;
    padding-left: 10px;
  }
  .academyteam hr {
    margin-top: 25px;
  }
}

@media (max-width: 381px) {
  .content .sidebar_l {
    height: 100%;
    margin: 15px 0 15px 0;
  }
  .content .main {
    height: 300px;
  }
  .content .sidebar_r {
    height: 100%;
    margin-bottom: 20px;
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(38, 61, 105, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px;
  }
  ul.menu li a {
    padding-top: 30px;
    margin-bottom: 300px;
    font-size: 12px;
    color: #fff;
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 3%;
    top: 3%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-bottom: 3px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .title {
    font-size: 18px;
  }
  .topfive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topfive_subtitle {
    font-size: 16px;
  }
  .topfive_team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .topfive_team hr {
    margin-top: 20px;
  }
  .topfive_team p {
    font-size: 12px;
    line-height: 26px;
    margin: 0;
    margin-left: 40px;
  }
  .topfive_team p span {
    font-size: 14px;
  }
  .topfive_descr {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .warnews_subtitle {
    font-size: 16px;
  }
  .warnews_results .cw {
    text-align: center;
    font-size: 14px;
    padding: 2px 0px 2px 0px;
    margin: 15px 20px;
  }
  .mainteam_subtitle {
    font-size: 14px;
  }
  .mainteam_time {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
  }
  .mainteam_anarchy {
    font-size: 16px;
    font-weight: 700;
  }
  .mainteam table {
    margin: 0 auto;
    margin: 0 10px 0 10px;
  }
  .mainteam table th {
    margin: 0 auto;
    padding: 0 5px 0 5px;
    font-size: 10px;
  }
  .mainteam table th span {
    padding-left: 20px;
    font-size: 8px;
  }
  .mainteam table a {
    font-size: 9px;
    padding-left: 10px;
  }
  .mainteam hr {
    margin-top: 25px;
  }
  .academyteam_subtitle {
    font-size: 14px;
  }
  .academyteam_time {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
  }
  .academyteam_anarchy {
    font-size: 16px;
    font-weight: 700;
  }
  .academyteam table {
    margin: 0 auto;
    margin: 0 10px 0 10px;
  }
  .academyteam table th {
    margin: 0 auto;
    padding: 0 5px 0 5px;
    font-size: 10px;
  }
  .academyteam table th span {
    padding-left: 20px;
    font-size: 8px;
  }
  .academyteam table a {
    font-size: 9px;
    padding-left: 10px;
  }
  .academyteam hr {
    margin-top: 25px;
  }
}
