@media (min-width: 1400px) {
  .topfive_team {
    .gold {
      color: gold;
      font-weight: 900;
      font-size: 15px;
    }
    .silver {
      color: silver;
      font-weight: 900;
      font-size: 15px;
    }
    .bronze {
      color: #cd7f32;
      font-weight: 900;
      font-size: 15px;
    }
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .content {
    .sidebar_l {
      order: 2;
      height: 1250px;
    }
    .main {
      order: 1;
      height: 500px;
    }
    .sidebar_r {
      order: 3;
      height: 100%;
    }
  }
  .content-settings {
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  nav {
    & .menu li {
      & a {
        font-size: 20px;
        padding-left: 15px;
      }
    }
  }
  .topfive {
    .gold {
      color: gold;
      font-weight: 900;
      font-size: 18px;
    }
    .silver {
      color: silver;
      font-weight: 900;
      font-size: 18px;
    }
    .bronze {
      color: #cd7f32;
      font-weight: 900;
      font-size: 18px;
    }
    &_subtitle {
      font-size: 20px;
      margin: 20px 20px 40px 30px;
    }
    &_team {
      margin-left: -20px;
      & p {
        font-size: 18px;
        line-height: 34px;
        & span {
          font-size: 18px;
        }
      }
    }
    &_descr {
      font-size: 18px;
    }
  }
  .mainteam {
    &_subtitle {
      font-size: 20px;
    }
    &_time {
      font-weight: 700;
      font-size: 20px;
    }
    &_anarchy {
      font-size: 22px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin-right: 80px;
      & th {
        padding: 0 10px 0 10px;
        & span {
          padding-left: 20px;
          font-size: 18px;
        }
      }
      & a {
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }
  .academyteam {
    &_subtitle {
      font-size: 20px;
    }
    &_time {
      font-weight: 700;
      font-size: 20px;
    }
    &_anarchy {
      font-size: 22px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin-right: 80px;
      & th {
        padding: 0 10px 0 10px;
        & span {
          padding-left: 20px;
          font-size: 18px;
        }
      }
      & a {
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }
  .warnews {
    &_subtitle {
      font-size: 20px;
    }
    &_results {
      & p {
      }
      & .cw {
        text-align: center;
        font-size: 18px;
        padding: 2px 0px 2px 15px;
        margin: 15px 20px;
      }
    }
  }
  .title {
    font-size: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .content {
    .sidebar_l {
      order: 2;
      height: 1250px;
    }
    .main {
      order: 1;
      height: 500px;
    }
    .sidebar_r {
      order: 3;
      height: 1450px;
    }
  }
  nav {
    & .menu li {
      & a {
        font-size: 20px;
        padding-left: 15px;
      }
    }
  }
  .title {
    font-size: 20px;
  }
  .topfive {
    .gold {
      color: gold;
      font-weight: 900;
      font-size: 14px;
    }
    .silver {
      color: silver;
      font-weight: 900;
      font-size: 14px;
    }
    .bronze {
      color: #cd7f32;
      font-weight: 900;
      font-size: 14px;
    }
    &_subtitle {
      font-size: 18px;
      margin: 20px 20px 2s0px 0;
    }
    &_team {
      & p {
        margin-left: 90px;
        font-size: 14px;
        line-height: 26px;
        & span {
          font-size: 14px;
        }
      }
    }
    &_descr {
      margin-right: 20px;
      font-size: 14px;
    }
  }
  .warnews {
    &_subtitle {
      font-size: 18px;
    }
    &_results {
      & .cw {
        text-align: center;
        font-size: 16px;
        padding: 3px 0px 3px 0px;
        margin: 15px 20px;
      }
    }
  }
  .mainteam {
    &_subtitle {
      font-size: 18px;
    }
    &_time {
      font-weight: 700;
      font-size: 18px;
    }
    &_anarchy {
      font-size: 20px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin-right: 60px;
      & th {
        padding: 0 10px 0 10px;
        font-size: 14px;
        & span {
          padding-left: 30px;
          font-size: 14px;
        }
      }
      & a {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }
  .academyteam {
    &_subtitle {
      font-size: 18px;
    }
    &_time {
      font-weight: 700;
      font-size: 18px;
    }
    &_anarchy {
      font-size: 20px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin-right: 60px;
      & th {
        padding: 0 10px 0 10px;
        font-size: 14px;
        & span {
          padding-left: 30px;
          font-size: 14px;
        }
      }
      & a {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content {
    .sidebar_l {
      order: 2;
      height: 1250px;
    }
    .main {
      order: 1;
      height: 500px;
    }
    .sidebar_r {
      order: 3;
      height: 1450px;
    }
  }
  nav {
    & .menu li {
      & a {
        font-size: 14px;
        padding-left: 15px;
      }
    }
  }
  .topfive {
    .gold {
      color: gold;
      font-weight: 900;
      font-size: 14px;
    }
    .silver {
      color: silver;
      font-weight: 900;
      font-size: 14px;
    }
    .bronze {
      color: #cd7f32;
      font-weight: 900;
      font-size: 14px;
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .content {
    .sidebar_l {
      order: 2;
      height: 100%;
      margin: 15px 0 15px 0;
    }
    .main {
      order: 1;
      height: 300px;
    }
    .sidebar_r {
      order: 3;
      height: 100%;
      margin-bottom: 20px;
    }
  }
  .content-settings {
    margin: 0px;
  }
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(38, 61, 105, 0.8);
    transition: 0.6s all;
    &_active {
      left: 0;
    }
    &_item {
      padding-right: 0;
      border: none;
      margin: 10px 0;
    }
    &_link {
      font-size: 20px;
    }
  }
  ul.menu {
    li {
      a {
        padding-top: 30px;
        margin-bottom: 200px;
        font-size: 18px;
        color: #fff;
      }
    }
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 8%; //120px
    top: 3%;
    transform: translateY(-50%);
    width: 30px;
    height: 18px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000;
      margin-bottom: 3px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .title {
    font-size: 16px;
  }
  .topfive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .gold {
      color: gold;
      font-weight: 900;
      font-size: 10px;
    }
    .silver {
      color: silver;
      font-weight: 900;
      font-size: 10px;
    }
    .bronze {
      color: #cd7f32;
      font-weight: 900;
      font-size: 10px;
    }

    &_subtitle {
      font-size: 14px;
    }
    &_team {
      & hr {
        margin-top: 20px;
      }
      & p {
        font-size: 10px;
        line-height: 26px;
        margin: 0;
        & span {
          font-size: 10px;
        }
      }
    }
    &_descr {
      font-size: 12px;
      margin-bottom: 25px;
    }
  }
  .warnews {
    &_subtitle {
      font-size: 14px;
    }
    &_results {
      & .cw {
        text-align: center;
        font-size: 12px;
        padding: 2px 0px 2px 0px;
        margin: 15px 20px;
      }
    }
  }
  .mainteam {
    &_subtitle {
      font-size: 14px;
    }
    &_time {
      font-weight: 700;
      font-size: 12px;
    }
    &_anarchy {
      font-size: 16px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin-left: 70px;
      & th {
        padding: 0 10px 0 10px;
        & span {
          padding-left: 20px;
          font-size: 16px;
        }
      }
      & a {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }
  .academyteam {
    &_subtitle {
      font-size: 14px;
    }
    &_time {
      font-weight: 700;
      font-size: 12px;
    }
    &_anarchy {
      font-size: 16px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin-left: 70px;
      & th {
        padding: 0 10px 0 10px;
        & span {
          padding-left: 20px;
          font-size: 16px;
        }
      }
      & a {
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }
}
@media (max-width: 575px) {
  .content {
    .sidebar_l {
      order: 2;
      height: 100%;
      margin: 15px 0 15px 0;
    }
    .main {
      order: 1;
      height: 300px;
      img {
        width: 50%;
        height: 150px;
      }
    }
    .sidebar_r {
      order: 3;
      height: 100%;
      margin-bottom: 20px;
    }
  }
  .content-settings {
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(38, 61, 105, 0.8);
    transition: 0.6s all;
    &_active {
      left: 0;
    }
    &_item {
      padding-right: 0;
      border: none;
      margin: 10px 0;
    }
    &_link {
      font-size: 20px;
    }
  }
  ul.menu {
    li {
      a {
        padding-top: 30px;
        margin-bottom: 200px;
        font-size: 18px;
        color: #fff;
      }
    }
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 3%; //120px
    top: 3%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000;
      margin-bottom: 3px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .title {
    font-size: 18px;
    font-weight: 900;
  }
  .topfive {
    display: flex;
    flex-direction: column;
    align-items: center;
    .gold {
      color: gold;
      font-weight: 900;
      font-size: 14px;
    }
    .silver {
      color: silver;
      font-weight: 900;
      font-size: 14px;
    }
    .bronze {
      color: #cd7f32;
      font-weight: 900;
      font-size: 14px;
    }
    &_subtitle {
      font-size: 16px;
      font-weight: 900;
    }
    &_team {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & hr {
        margin-top: 20px;
      }
      & p {
        font-size: 12px;
        line-height: 26px;
        margin: 0;
        margin-left: 40px;
        font-weight: 900;
        & span {
          font-size: 14px;
          font-weight: 900;
        }
      }
    }
    &_descr {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
  .warnews {
    &_subtitle {
      font-size: 16px;
    }
    &_results {
      & .cw {
        text-align: center;
        font-size: 14px;
        padding: 2px 0px 2px 0px;
        margin: 15px 20px;
      }
    }
  }
  .mainteam {
    margin-right: 20px;
    &_subtitle {
      font-size: 16px;
    }
    &_time {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 14px;
    }
    &_anarchy {
      font-size: 18px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;

      & th {
        padding: 0 10px 0 10px;
        font-size: 12px;
        & span {
          padding-left: 20px;
          font-size: 12px;
        }
      }
      & a {
        font-size: 12px;
        padding-left: 10px;
      }
    }
    hr {
      margin-top: 25px;
    }
  }
  .academyteam {
    margin-right: 20px;
    &_subtitle {
      font-size: 16px;
    }
    &_time {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 15px;
    }
    &_anarchy {
      font-size: 18px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      & th {
        padding: 0 10px 0 10px;
        font-size: 12px;
        & span {
          padding-left: 20px;
          font-size: 12px;
        }
      }
      & a {
        font-size: 12px;
        padding-left: 10px;
      }
    }
    hr {
      margin-top: 25px;
    }
  }
}
@media (max-width: 381px) {
  .content {
    .sidebar_l {
      height: 100%;
      margin: 15px 0 15px 0;
    }
    .main {
      height: 300px;
    }
    .sidebar_r {
      height: 100%;
      margin-bottom: 20px;
    }
  }
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(38, 61, 105, 0.8);
    transition: 0.6s all;
    &_active {
      left: 0;
    }
    &_item {
      padding-right: 0;
      border: none;
      margin: 10px 0;
    }
    &_link {
      font-size: 20px;
    }
  }
  ul.menu {
    li {
      a {
        padding-top: 30px;
        margin-bottom: 300px;
        font-size: 12px;
        color: #fff;
      }
    }
  }
  .hamburger {
    display: block;
    position: fixed;
    right: 3%; //120px
    top: 3%;
    transform: translateY(-50%);
    width: 20px;
    height: 12px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000;
      margin-bottom: 3px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .title {
    font-size: 18px;
  }
  .topfive {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_subtitle {
      font-size: 16px;
    }
    &_team {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & hr {
        margin-top: 20px;
      }
      & p {
        font-size: 12px;
        line-height: 26px;
        margin: 0;
        margin-left: 40px;
        & span {
          font-size: 14px;
        }
      }
    }
    &_descr {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }
  .warnews {
    &_subtitle {
      font-size: 16px;
    }
    &_results {
      & .cw {
        text-align: center;
        font-size: 14px;
        padding: 2px 0px 2px 0px;
        margin: 15px 20px;
      }
    }
  }
  .mainteam {
    &_subtitle {
      font-size: 14px;
    }
    &_time {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 12px;
    }
    &_anarchy {
      font-size: 16px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin: 0 10px 0 10px;

      & th {
        margin: 0 auto;
        padding: 0 5px 0 5px;
        font-size: 10px;
        & span {
          padding-left: 20px;
          font-size: 8px;
        }
      }
      & a {
        font-size: 9px;
        padding-left: 10px;
      }
    }
    hr {
      margin-top: 25px;
    }
    .modal-header {
      img {
        margin: 0;
        padding-left: 40px;
      }
      .modal-anarchy-title {
      }
    }
    .manual {
      p {
        padding-left: 60px;
        margin: 0;
      }
    }
  }
  .academyteam {
    &_subtitle {
      font-size: 14px;
    }
    &_time {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 12px;
    }
    &_anarchy {
      font-size: 16px;
      font-weight: 700;
    }
    & table {
      margin: 0 auto;
      margin: 0 10px 0 10px;

      & th {
        margin: 0 auto;
        padding: 0 5px 0 5px;
        font-size: 10px;
        & span {
          padding-left: 20px;
          font-size: 8px;
        }
      }
      & a {
        font-size: 9px;
        padding-left: 10px;
      }
    }
    hr {
      margin-top: 25px;
    }
  }
}
